body, ul, li, p, h1, h2, h3, h4, h5, h6, label, pre {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color:rgba(255, 255, 255, 0);
}

a:hover {
  text-decoration: none;
}

ol, ul, li {
  list-style-type: none;
}

html {
  height: 100%;
}

input{
  padding: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

.slide-enter-active, .fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-leave, slide-leave-to, .slide-leave-active,
.left-slide-leave, .left-slide-leave-to, .left-slide-leave-active{
  display: none
}
.slide-enter {
  transform: translateX(100%);
}

.left-slide-enter-active {
  transition: all 0.3s ease-out;
}
.left-slide-enter {
  transform: translateX(-100%);
}

.up-slide-enter-active{
  transition: all .3s ease-out;
}

.up-slide-enter {
  transform: translateY(100%);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

html,body{
  height: 100%;
  user-select: none;
}

body{
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

#app{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #f0f0f0;
  width: 100%;
  background-color: #f0f0f0;
  box-sizing: border-box;
  -webkit-tap-highlight-color:rgba(255, 255, 255, 0);
}

html{
  background-color: #efefef;
}

@font-face {
  font-family: 'iconfont';  /* project id 587695 */
  src: url('//at.alicdn.com/t/font_587695_tgd64cmc3uk.eot');
  src: url('//at.alicdn.com/t/font_587695_tgd64cmc3uk.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_587695_tgd64cmc3uk.woff') format('woff'),
  url('//at.alicdn.com/t/font_587695_tgd64cmc3uk.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_587695_tgd64cmc3uk.svg#iconfont') format('svg');
}

.icon{
    font-family: "iconfont";
}

a {
  color: inherit;
}

img{
  /* background-color: #fff; */
  border: none;
  outline-width:0px;  
  vertical-align:top;
  width: 100%;
  height: 100%;
}

input{
  box-shadow: none;
  outline: none !important;
}

video{
  height: 100%;
  width: 100%;
  object-fit:fill;
}

*,button, input, optgroup, select, textarea{
  font-family: PingFangSC-Light, sans-serif;
}

.iphoneTop{
  padding-top: 1.9rem !important;
}

.iphoneTopH{
  padding-top: 1rem !important;
}

.iphoneTopB{
  padding-top: 2.5rem !important;
}

.iphoneTopS{
  padding-top: 2.43rem !important;
}

.iphoneTopSh{
  margin-top: 4.26rem !important;
}

.iphoneTopO{
  margin-top: 3.9rem !important;
}

.iphoneTopP{
  margin-top: 3.5rem !important;
}

/* ::-webkit-scrollbar{
  display:none;
  width: 0;
  height: 0;
  color: transparent;
} */